body
{
  color: palegreen;
}
hr{
  height: 10px;
  border-top: dotted;
  border-left: dotted;
  border-right: solid;
  border-bottom: solid;
  border-style: ridge;
  width: 1000px
}

.a{
  height: 100px;
  width: 100px;
  background-color: red;
}

.b{
  height: 100px;
  width: 100px;
  background-color: violet;
}

.c{
  height: 100px;
  width: 100px;
  background-color: palegreen;
  color: red;
}

.d{
  height: 100px;
  width: 100px;
  background-color: skyblue;
  color: red;
}

.e{
  height: 100px;
  width: 100px;
  background-color: yellow;
  color: red;
}
table{

  border-spacing: 0px;
}


div{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: pink;
  margin: 0px;
}
